@import "tailwindcss";
@config "../../../tailwind.config.js";
@plugin "@tailwindcss/forms";

@utility button-gradient {
  background-image: linear-gradient(
    to right,
    #4ade80,
    #3b82f6,
    #ec4899,
    #eab308
  );
}

@theme {
  --background-size-200: 200% 200%;
  --background-size-300: 300% 300%;
  --background-position-pos-0: 0% 0%;
  --background-position-pos-50: 50% 50%;
  --background-position-pos-100: 100% 100%;
}
