.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: .2rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 6px;
  pointer-events: none;
  font-size: 0.9rem;
}